<div class="container" data-ng-cloak>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Customers List &nbsp; <i ng-show="vm.loading" class="fa fa-spinner"></i>
            </h3> 
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <strong class="error">{{ vm.error }}</strong>
            <p data-ng-hide="vm.addMode"><button data-ng-click="vm.toggleAdd()" class="btn btn-default" type="button">Add New</button>
            </p>
            <form name="addCustomer" data-ng-show="vm.addMode" style="width: 600px; margin: 0 auto;">
                <div class="form-group">
                    <label for="cname" class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cname" placeholder="Name" data-ng-model="newcustomer.Name" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-sm-2 control-label">Address:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address" placeholder="Address" data-ng-model="newcustomer.Address" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="city" class="col-sm-2 control-label">City:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city" placeholder="City" data-ng-model="newcustomer.City" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country" class="col-sm-2 control-label">Country:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="country" placeholder="Country" data-ng-model="newcustomer.Country" required/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <br/>
                        <input type="submit" value="Add" data-ng-click="vm.add(newcustomer)" data-ng-disabled="!addCustomer.$valid" class="btn btn-default"/>
                        <input type="button" value="Cancel" data-ng-click="vm.toggleAdd()" class="btn btn-default"/>
                    </div>
                </div>
                <br/>
            </form>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Country</th>
                    </tr>
                    <tr data-ng-repeat="customer in vm.customers">
                        <td><strong>{{ customer.Id }}</strong></td>
                        <td>
                            <a ui-sref="customersDetail({customerId: customer.Id})">
                                <p>{{ customer.Name }}</p></a>
                        </td>
                        <td>
                            <p>{{ customer.Address }}</p>
                        </td>
                        <td>
                            <p>{{ customer.City }}</p>
                        </td>
                        <td>
                            <p>{{ customer.Country }}</p>
                        </td>
                        <td>
                            <p>
                                <a ui-sref="customersEdit({customerId: customer.Id})" class="btn btn-default">Edit</a>
                                <button data-ng-click="vm.deletecustomer(customer)" class="btn btn-default" type="button">Delete</button>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>